.cont02 {
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* align-items: center; */
    /* width: 100%; */
    height: auto;
    overflow: hidden;
    /* padding: 10px 0px 30px 0px; */
    /* margin-left: 10vh; */
    filter: brightness(100%);
    /* object-fit: contain; */
    min-height: 100%;
    overflow: hidden;
}

.cont02 p,
.cont03 p,
.cont04 p {
    margin-top: 1%;
    /* margin-left: 40px; */
    color: #000;
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 L 0,233 C 52.73211986846556,250.77890596916342 105.46423973693112,268.55781193832684 148,252 C 190.53576026306888,235.44218806167314 222.8751609207411,184.54765821585602 261,192 C 299.1248390792589,199.45234178414398 343.0351165801045,265.25155519824904 395,273 C 446.9648834198955,280.74844480175096 506.9843727588411,230.4461209911478 547,220 C 587.0156272411589,209.5538790088522 607.0273923845311,238.9639608371597 649,244 C 690.9726076154689,249.0360391628403 754.9060577030345,229.69803566021332 803,221 C 851.0939422969655,212.30196433978668 883.3483768033306,214.24389652198704 922,213 C 960.6516231966694,211.75610347801296 1005.7004350836435,207.32637825183852 1057,205 C 1108.2995649163565,202.67362174816148 1165.8498828620957,202.45059047065885 1201,217 C 1236.1501171379043,231.54940952934115 1248.9000334679727,260.87125986552604 1285,266 C 1321.0999665320273,271.12874013447396 1380.5499832660137,252.06437006723698 1440,233 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,233 C 48.738618675837,222.12704902792362 97.477237351674,211.25409805584724 145,200 C 192.522762648326,188.74590194415276 238.82966926914094,177.11065680453467 278,194 C 317.17033073085906,210.88934319546533 349.2040855717623,256.30327472601414 394,259 C 438.7959144282377,261.69672527398586 496.3539884438102,221.67624429140866 537,218 C 577.6460115561898,214.32375570859134 601.3799606529972,246.9917481083512 637,241 C 672.6200393470028,235.0082518916488 720.1261689442006,190.35676327518644 768,193 C 815.8738310557994,195.64323672481356 864.1153635702004,245.58119879090304 916,251 C 967.8846364297996,256.41880120909696 1023.4123767749979,217.31844156120124 1067,204 C 1110.587623225002,190.68155843879876 1142.2351293298082,203.14503496429202 1185,214 C 1227.7648706701918,224.85496503570798 1281.6471059057692,234.10141858163084 1326,237 C 1370.3528940942308,239.89858141836916 1405.1764470471153,236.4492907091846 1440,233 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,233 C 37.067847903116416,226.93523150451819 74.13569580623283,220.87046300903634 113,219 C 151.86430419376717,217.12953699096366 192.52506467818506,219.45337946837273 237,226 C 281.47493532181494,232.54662053162727 329.76404548102687,243.3160191174726 378,254 C 426.23595451897313,264.6839808825274 474.4187533977074,275.2825440617369 514,264 C 553.5812466022926,252.71745593826307 584.560940928143,219.55380463557978 635,221 C 685.439059071857,222.44619536442022 755.3374828897204,258.50223739594384 798,264 C 840.6625171102796,269.49776260405616 856.0891275129754,244.43724578064487 892,226 C 927.9108724870246,207.56275421935513 984.3060070583776,195.74877948147667 1037,203 C 1089.6939929416224,210.25122051852333 1138.6868442535138,236.56763629344857 1189,252 C 1239.3131557464862,267.4323637065514 1290.9466159275676,271.980675344729 1333,267 C 1375.0533840724324,262.019324655271 1407.5266920362162,247.5096623276355 1440,233 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,233 C 45.471754979024965,245.15959087617028 90.94350995804993,257.31918175234057 131,248 C 171.05649004195007,238.68081824765946 205.6977151468252,207.8828638668081 245,208 C 284.3022848531748,208.1171361331919 328.26562945464923,239.1493627804271 378,249 C 427.73437054535077,258.8506372195729 483.2397670345782,247.5196850114836 537,230 C 590.7602329654218,212.4803149885164 642.7753024070379,188.77189717363856 678,193 C 713.2246975929621,197.22810282636144 731.6590233372705,229.39272629396214 770,244 C 808.3409766627295,258.60727370603786 866.5886042438805,255.65719765051296 922,251 C 977.4113957561195,246.34280234948704 1029.9865596872073,239.97848310398618 1066,233 C 1102.0134403127927,226.02151689601382 1121.4651570072901,218.42886993354216 1160,207 C 1198.5348429927099,195.57113006645784 1256.1528122836314,180.3060371618451 1306,184 C 1355.8471877163686,187.6939628381549 1397.9235938581842,210.34698141907745 1440,233 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,233 C 52.73211986846556,250.77890596916342 105.46423973693112,268.55781193832684 148,252 C 190.53576026306888,235.44218806167314 222.8751609207411,184.54765821585602 261,192 C 299.1248390792589,199.45234178414398 343.0351165801045,265.25155519824904 395,273 C 446.9648834198955,280.74844480175096 506.9843727588411,230.4461209911478 547,220 C 587.0156272411589,209.5538790088522 607.0273923845311,238.9639608371597 649,244 C 690.9726076154689,249.0360391628403 754.9060577030345,229.69803566021332 803,221 C 851.0939422969655,212.30196433978668 883.3483768033306,214.24389652198704 922,213 C 960.6516231966694,211.75610347801296 1005.7004350836435,207.32637825183852 1057,205 C 1108.2995649163565,202.67362174816148 1165.8498828620957,202.45059047065885 1201,217 C 1236.1501171379043,231.54940952934115 1248.9000334679727,260.87125986552604 1285,266 C 1321.0999665320273,271.12874013447396 1380.5499832660137,252.06437006723698 1440,233 L 1440,400 L 0,400 Z");
    }
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* bottom: -50px; */
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,100 C 44.00679275887653,111.79432956921939 88.01358551775306,123.58865913843877 129,136 C 169.98641448224694,148.41134086156123 207.9524506878642,161.43969301546434 250,140 C 292.0475493121358,118.56030698453567 338.17661173079,62.65256879970392 386,59 C 433.82338826921,55.34743120029608 483.34110238897574,103.95003178571997 525,122 C 566.6588976110243,140.04996821428003 600.4589787133069,127.54730405741616 647,122 C 693.5410212866931,116.45269594258384 752.8229827577965,117.86075198461536 805,118 C 857.1770172422035,118.13924801538464 902.2490902555076,117.00968800412241 937,122 C 971.7509097444924,126.99031199587759 996.1806562201732,138.100495998895 1042,122 C 1087.8193437798268,105.89950400110499 1155.0282848637994,62.58832800029749 1200,60 C 1244.9717151362006,57.41167199970251 1267.7062043246287,95.54619199991501 1304,109 C 1340.2937956753713,122.45380800008499 1390.1468978376856,111.2269040000425 1440,100 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,100 C 36.31397208169018,119.34934365587134 72.62794416338036,138.69868731174267 116,133 C 159.37205583661964,127.30131268825734 209.80219542816872,96.5545944089007 255,97 C 300.1978045718313,97.4454055910993 340.16327412394475,129.0829350526545 380,144 C 419.83672587605525,158.9170649473455 459.5447080760521,157.11366538048125 509,149 C 558.4552919239479,140.88633461951875 617.6578935718472,126.46240342542045 664,121 C 710.3421064281528,115.53759657457955 743.8237176365591,119.03672091783702 783,128 C 822.1762823634409,136.96327908216298 867.0472358819165,151.39071290323153 911,145 C 954.9527641180835,138.60928709676847 997.9873388357748,111.40042746923692 1042,98 C 1086.0126611642252,84.59957253076308 1131.0034087749837,85.00757721982083 1176,80 C 1220.9965912250163,74.99242278017917 1265.9990260642903,64.56926365147976 1310,67 C 1354.0009739357097,69.43073634852024 1397.0004869678548,84.71536817426012 1440,100 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,100 C 54.0255383650984,125.12692507246967 108.0510767301968,150.25385014493935 152,139 C 195.9489232698032,127.74614985506066 229.82123144431125,80.11152449271229 264,74 C 298.17876855568875,67.88847550728771 332.6639974925582,103.30005188421146 374,121 C 415.3360025074418,138.69994811578854 463.52277858545574,138.68826797044193 507,135 C 550.4772214145443,131.31173202955807 589.2448881656187,123.94687623402083 631,126 C 672.7551118343813,128.05312376597917 717.4976687520696,139.5242270934748 767,135 C 816.5023312479304,130.4757729065252 870.7644368261028,109.95621539207995 918,91 C 965.2355631738972,72.04378460792005 1005.4445839435189,54.650911338205376 1051,64 C 1096.5554160564811,73.34908866179462 1147.457227399822,109.44013925509854 1188,116 C 1228.542772600178,122.55986074490146 1258.7265064571939,99.58853164140041 1299,92 C 1339.2734935428061,84.41146835859959 1389.636746771403,92.2057341792998 1440,100 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,100 C 44.901825509678275,116.91188360937032 89.80365101935655,133.82376721874064 129,132 C 168.19634898064345,130.17623278125936 201.6872214322521,109.61681473440773 245,90 C 288.3127785677479,70.38318526559227 341.4474632516349,51.70897384362842 385,51 C 428.5525367483651,50.29102615637158 462.52292556120824,67.54728989107858 500,66 C 537.4770744387918,64.45271010892142 578.4608345035319,44.10186659205729 632,60 C 685.5391654964681,75.89813340794271 751.6337364246643,128.04524374069229 802,145 C 852.3662635753357,161.95475625930771 887.0042197978111,143.71715844517362 928,139 C 968.9957802021889,134.28284155482638 1016.3493843840918,143.08612247861328 1062,129 C 1107.6506156159082,114.91387752138674 1151.5982426658215,77.93835164037336 1187,65 C 1222.4017573341785,52.06164835962664 1249.2576449526223,63.16047095989332 1290,73 C 1330.7423550473777,82.83952904010668 1385.3711775236889,91.41976452005335 1440,100 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,100 C 44.00679275887653,111.79432956921939 88.01358551775306,123.58865913843877 129,136 C 169.98641448224694,148.41134086156123 207.9524506878642,161.43969301546434 250,140 C 292.0475493121358,118.56030698453567 338.17661173079,62.65256879970392 386,59 C 433.82338826921,55.34743120029608 483.34110238897574,103.95003178571997 525,122 C 566.6588976110243,140.04996821428003 600.4589787133069,127.54730405741616 647,122 C 693.5410212866931,116.45269594258384 752.8229827577965,117.86075198461536 805,118 C 857.1770172422035,118.13924801538464 902.2490902555076,117.00968800412241 937,122 C 971.7509097444924,126.99031199587759 996.1806562201732,138.100495998895 1042,122 C 1087.8193437798268,105.89950400110499 1155.0282848637994,62.58832800029749 1200,60 C 1244.9717151362006,57.41167199970251 1267.7062043246287,95.54619199991501 1304,109 C 1340.2937956753713,122.45380800008499 1390.1468978376856,111.2269040000425 1440,100 L 1440,400 L 0,400 Z");
    }
}


.moving-svg {
    position: absolute;
    bottom: -180px;
    z-index: -1;
    left: 0;
    width: 100%;
    /* height: 50%; */
}





.Navi {
    max-width: 120dvh;
    height: 5dvh;
    margin-top: -4%;
    margin-left: 1%;
    padding: 1%;
    display: grid;
}

.Navi img {
    padding: 0.5%;
    width: 6%;
    transition: all 0.5s ease;
    border-radius: 100%;
    white-space: nowrap;
    display: inline-flex;
    position: relative;

    &::before,
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
    }

    &::before {
        border-bottom: 0.2em solid black;
        /* Replace with your desired border color */
        transform: scale3d(0, 1, 1);
        transition: transform 650ms ease-in-out;
    }

    &:hover::before,
    &:hover::after {
        transform: scale3d(1, 1, 1);
        transition: transform 650ms;
    }
}

.bgimg-1 {
    max-width: 100%;
    border-radius: 100%;

    &:hover {
        color: #000000;
        cursor: grab;
        transform: translateY(-5px);
        box-shadow: 2px 4px 2px 2px #000000;
    }

    &::selection {
        cursor: grabbing;
    }

}

.bgimg-2 {
    margin-top: 5px;
    max-width: 100%;
    transform: rotate(180deg);

    &:hover {
        color: #000000;
        cursor: grab;
        /* scale: 1.05; */
        transform: rotate(180deg) translateY(5px);
        box-shadow: -2.5px -4px 2px 2px #000000;
    }
}