.cont04 {
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    align-items: center;
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    /* margin-left: 10vh; */
    filter: brightness(80%);
    object-fit: contain;
    min-height: 100%;
    background: rgb(0, 212, 255);
    /* background: radial-gradient(circle, rgba(0, 212, 255, 1) 2%, rgba(9, 9, 121, 1) 80%, rgba(2, 0, 36, 1) 99%); */
    background: #CCA35A;
}

.cont04 video {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    /* height: 292vh; */
    /* filter: grayscale(100%); */
    filter: invert(100%);
    /* transform: scaleX(-1); */
    transform: scaleY(-1);
    /* filter: hue-rotate(100deg) */
    /* filter: hue-rotate(0deg);
    animation: hueRotate 20s infinite cubic-bezier(0.55, 0.085, 0.68, 0.53);
    width: auto; */
    /* backdrop-filter: blur(2px); */
    /* scale: 0.7; */

}

.title {
    display: flex;
    gap: 1em;
    align-items: center;
    /* justify-content: center; */
}

.title svg {
    margin-top: -2.5em;

}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,150 C 51.68588625493388,171.98856776556127 103.37177250986775,193.97713553112254 145,168 C 186.62822749013225,142.02286446887746 218.1987962154629,68.08002564107107 253,81 C 287.8012037845371,93.91997435892893 325.8330426282807,193.70276190459325 379,200 C 432.1669573717193,206.29723809540675 500.46903327141456,119.10892674055592 547,80 C 593.5309667285854,40.891073259444084 618.2908242860609,49.861531133183064 650,79 C 681.7091757139391,108.13846886681694 720.3676695843418,157.44494872671186 761,184 C 801.6323304156582,210.55505127328814 844.2384973765716,214.35867395996945 898,212 C 951.7615026234284,209.64132604003055 1016.6783409093725,201.12035543341025 1061,185 C 1105.3216590906275,168.87964456658975 1129.0481389859378,145.15990430638954 1173,133 C 1216.9518610140622,120.84009569361045 1281.129103146875,120.24002734103155 1329,125 C 1376.870896853125,129.75997265896845 1408.4354484265625,139.8799863294842 1440,150 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,150 C 52.907070596172616,150.6926984925246 105.81414119234523,151.38539698504923 154,152 C 202.18585880765477,152.61460301495077 245.65050582679174,153.1511105523278 285,162 C 324.34949417320826,170.8488894476722 359.5838355004879,188.0101608056396 397,198 C 434.4161644995121,207.9898391943604 474.0141521712568,210.80824622511375 523,215 C 571.9858478287432,219.19175377488625 630.3595558144848,224.7568542939055 674,221 C 717.6404441855152,217.2431457060945 746.5476245708041,204.1643365992644 785,200 C 823.4523754291959,195.8356634007356 871.4499459022984,200.5857993090369 923,193 C 974.5500540977016,185.4142006909631 1029.6525918200023,165.49246616458805 1068,139 C 1106.3474081799977,112.50753383541195 1127.9396868176916,79.44433603261092 1166,100 C 1204.0603131823084,120.55566396738908 1258.588660909231,194.7301897049683 1307,212 C 1355.411339090769,229.2698102950317 1397.7056695453844,189.63490514751584 1440,150 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,150 C 47.1411516169989,160.76097315656105 94.2823032339978,171.5219463131221 134,167 C 173.7176967660022,162.4780536868779 206.01193868100773,142.67318790407262 247,153 C 287.98806131899227,163.32681209592738 337.6699420419714,203.78530207058736 382,219 C 426.3300579580286,234.21469792941264 465.3082931511069,224.18560381357807 510,209 C 554.6917068488931,193.81439618642193 605.0968853536007,173.47228267510036 651,168 C 696.9031146463993,162.52771732489964 738.3041654344904,171.9252654860205 774,167 C 809.6958345655096,162.0747345139795 839.6864529084376,142.8266553808177 892,131 C 944.3135470915624,119.1733446191823 1018.9500229317589,114.76811299070866 1066,130 C 1113.049977068241,145.23188700929134 1132.5134553645264,180.1008926563477 1165,190 C 1197.4865446354736,199.8991073436523 1242.9961556101352,184.82831638390067 1291,174 C 1339.0038443898648,163.17168361609933 1389.5019221949324,156.58584180804968 1440,150 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,150 C 50.49752885948588,117.19545827216722 100.99505771897176,84.39091654433443 143,77 C 185.00494228102824,69.60908345566557 218.5172979835989,87.6317920948295 257,124 C 295.4827020164011,160.3682079051705 338.9357503466326,215.08191507634768 388,209 C 437.0642496533674,202.91808492365232 491.73970062987087,136.0405475997797 540,106 C 588.2602993701291,75.9594524002203 630.1054471338842,82.75589452453345 675,103 C 719.8945528661158,123.24410547546655 767.8385108345922,156.93587430208652 807,149 C 846.1614891654078,141.06412569791348 876.5405095277473,91.50060826712047 920,113 C 963.4594904722527,134.49939173287953 1019.9994510544184,227.06169262943163 1067,221 C 1114.0005489455816,214.93830737056837 1151.4616862545797,110.25262121515304 1184,84 C 1216.5383137454203,57.74737878484696 1244.1538039272632,109.92782250995626 1286,134 C 1327.8461960727368,158.07217749004374 1383.9230980363684,154.03608874502186 1440,150 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,150 C 51.68588625493388,171.98856776556127 103.37177250986775,193.97713553112254 145,168 C 186.62822749013225,142.02286446887746 218.1987962154629,68.08002564107107 253,81 C 287.8012037845371,93.91997435892893 325.8330426282807,193.70276190459325 379,200 C 432.1669573717193,206.29723809540675 500.46903327141456,119.10892674055592 547,80 C 593.5309667285854,40.891073259444084 618.2908242860609,49.861531133183064 650,79 C 681.7091757139391,108.13846886681694 720.3676695843418,157.44494872671186 761,184 C 801.6323304156582,210.55505127328814 844.2384973765716,214.35867395996945 898,212 C 951.7615026234284,209.64132604003055 1016.6783409093725,201.12035543341025 1061,185 C 1105.3216590906275,168.87964456658975 1129.0481389859378,145.15990430638954 1173,133 C 1216.9518610140622,120.84009569361045 1281.129103146875,120.24002734103155 1329,125 C 1376.870896853125,129.75997265896845 1408.4354484265625,139.8799863294842 1440,150 L 1440,400 L 0,400 Z");
    }
}